:root {
  --active: lightblue;

  --primary: bisque;
  --secondary: lightgray;
}

.album-table {
  border: none;
  border-collapse: collapse;
  margin: 20px 0;
}
.album-table .center {
  text-align: center;
}
.album-table thead {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.album-table thead td {
  text-align: center;
}
.album-table tbody >:last-child {
  border-bottom: 1px solid black;
}
.album-table tbody tr:nth-child(odd) {
  /*background-color: var(--primary);*/
}
.album-table tbody tr:hover {
  border: 1px solid red; 
}
.album-table td, table th {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px 4px;
}

.album-table tbody tr.selected {
  color: red;
}

/* Menu context */
.dropdown-context {
  position: absolute;
  background-color: green;
}

/*
.link-element {
  display: flex;
  flex-flow: row nowrap;
  
  text-decoration: none;
}
*/
.ma {
  background-color: darkred;
}
.ma a {
  color: white;
}