:root {
  --ma: rgb(78, 5, 5);
  --ma-active: rgb(206, 74, 74);
  --ma-selected: darkred;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
}
/* Sidebar */
.container .sidebar {
  position: sticky;
  overflow-y: scroll;
  max-height: 100vh;

  top: 0;

  background-color: var(--ma-selected);
  border-right: 2px solid black;

  width: 500px;
}
.container .sidebar .sidebar-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;

  background-color: black;
  color: white;
  border: 1px solid white;
}
.container .sidebar .sidebar-toolbar button {
  padding: 2px 6px;
}
.container .sidebar .sidebar-toolbar h2 {
  margin: 0 auto;
}
.container .sidebar .sidebar-container {
  margin: 10px;
}
.container .sidebar .sidebar-container > * {
  margin-top: 10px;
}
.container .sidebar #start-ref {
  /* to fix the scrolling to top */
  position: absolute;
  top: -10px;
}
/* Main content */
.container .main {
  flex: 1;
  overflow-y: scroll;

  background-color: green;
}
.container .main .video {
  border: 2px solid blue;

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.container .main .video iframe {
  display: block;
  margin: auto;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Bookmark upload form */
.bookmark-form {
  display: flex;
  flex-flow: column;
  padding: 4px;
  border: 2px solid black;
  color: white;
  background-color: var(--ma);
}
.bookmark-form .inputs {
  flex: 1;
  display: flex;
  gap: 4px;
  
  margin: 4px 0;
}
.bookmark-form .inputs .folder-name {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.bookmark-form .actions {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

/* Album filter */
.album-filter {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  padding: 4px;
  border: 2px solid black;
  color: white;
  background-color: var(--ma);
}
.album-filter .filter-column {
  display: flex;
  gap: 4px;
}
.album-filter .filter-text {
  flex: 1;
  display: flex;
  gap: 4px;
}
.album-filter .filter-text input {
  width: 100%;
}
.album-filter .filter-interval {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}
.album-filter .filter-interval div {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}
.album-filter .filter-interval input {
  width: 60px;
}

/* Notification */
.notification {
  border: 2px solid black;
  padding: 4px;
}
.notification.error {
  background-color: red;
}
.notification.success {
  background-color: green;
}
.notification .message {
  font-style: italic;
}
.notification .action {
  display: flex;
  justify-content: end;
}

/* Table */
table {
  border: none;
  border-collapse: collapse;

  background-color: var(--ma);
  color: white;
  text-shadow: 1px 1px black;
}
table .center {
  text-align: center;
}
table thead {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
table tbody >:last-child {
  border-bottom: 2px solid black;
}
table td, table th {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 2px;
}

/* Table sorting */
.sortable-icon {
  display: inline-block;
  height: 11px;
  margin-left: 4px;
  position: relative;
  width: 1px 0px;
}
.sortable-icon:before,
.sortable-icon:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  left: 0;
  position: absolute;
}
.sortable-icon:before {
  border-bottom: 4px solid dimgrey;
}
.sortable-icon:after {
  border-top: 4px solid dimgrey;
  bottom: 0;
}
.sortable-icon.asc:before {
  border-bottom: 4px solid white;
}
.sortable-icon.desc:after {
  border-top: 4px solid white;
}
table thead th.sortable {
  cursor: pointer;
}
table thead th.sortable:hover {
  color: var(--ma-active);
  text-shadow: 2px 2px 2px black
}

/* Special tables */
.album-table {
  table-layout: fixed;
  width: 463px;
}
.album-table tbody tr {
  cursor: pointer;
}
.album-table tbody .album-row:hover {
  color: var(--ma-active);
  text-shadow: 2px 2px 2px black
}
.album-table tbody .album-row.playing td {
  color: var(--ma-selected);
  text-shadow: 2px 2px 2px black
}
.album-table tbody .album-row td:first-child,
.album-table tbody .album-row td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.album-table th:first-child {
  width: 36%;
}
.album-table th:nth-child(2)  {
  width: 55%;
}

/* Extra row */
#extra-row {
  border: 2px solid black;
  cursor: initial;
}
#extra-row .extra-row-container {
  background-color: var(--ma-selected);
  border: 1px solid white;
  padding: 4px;
}
#extra-row .extra-row-container .title {
  display: flex;
  margin-bottom: 4px;
}
#extra-row .extra-row-container .title span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  background-color: var(--ma);
}
#extra-row .extra-row-container .content {
  display: flex;
  justify-content: space-between;
}
#extra-row .extra-row-container .content .links {
}
#extra-row .extra-row-container .content .links a {
  display: flex;
  align-items: center;
  gap: 2px;

  color: white;
  margin-bottom: 4px;
}
#extra-row .extra-row-container .content .links a span {
}
#extra-row .extra-row-container .content .actions {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;

  justify-content: center;
}
#extra-row .extra-row-container .content .actions button {
}