:root {
  --ma: rgb(78, 5, 5);
  --ma-active: rgb(206, 74, 74);
  --ma-selected: darkred;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}

span.italic {
  font-style: italic;
}

/* button */
button:not(:disabled):hover {
  cursor: pointer;
  background-color: darkgrey;
}
button:disabled:hover {
  cursor: not-allowed;
}
button svg {
  display: inline-flex;
  vertical-align: middle; 
}

/* Draggable dialog */
dialog {
  border: 1px solid white;
}
dialog::backdrop {
  background: hsl(0 0% 0% / 50%);
}
dialog .header {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  border-bottom: 1px solid white;
  color: white;
  cursor: move;
}
dialog .header button {
  padding: 2px 6px;
}
dialog .header h3 {
  margin: 0 auto;
}

/* Dialog body */
dialog .dialog-body p {
  padding: 10px 4px;
  background-color: var(--ma-selected);
  color: white;
}
dialog .dialog-body .options {
  display: flex;
  gap: 4px;
  justify-content: end;
  padding: 4px;

  background-color: black;
  border: 1px solid white;
}

/* Album forms */
.album-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--ma-selected);
  color: white;
}
.album-form > label:first-child {
  margin-top: 10px;
}
.album-form > label,
.album-form .category-select {
  padding: 2px;
  margin: 0 10px;
  border: 2px solid black;
  background-color: var(--ma);
}
.album-form input,
.album-form select {
  flex: 1;
  width: 100%;
}
.album-form .options {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 4px;
  border: 1px solid white;
  background-color: black;
}
.album-form .category-select div {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

/* Container */
.container {
  display: flex;
  height: 100vh;
  background-color: black;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.container .sidebar {
  overflow: hidden;
  width: 550px; /* +50 */
  
  background-color: var(--ma-selected);
  border-right: 2px solid white;
}
.container .sidebar-opener {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
  width: 44px;
}
.container .main {
  flex: 1;
  overflow-y: auto;

  background-color: var(--ma-selected);
  border-left: 1px solid white;
  border-right: 1px solid white;
  max-width: 1200px;
  margin: 0 auto;
}
.container .main > * {
  margin: 10px
}

/* Sidebars */
.sidebar .sidebar-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  height: 30px;
}
.sidebar .sidebar-toolbar button {
  padding: 2px 6px;
}
.sidebar .sidebar-toolbar h2 {
  margin: 0 auto;
}
.sidebar .sidebar-container {
  height: calc(100% - 30px);
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  padding: 10px;
}

/* Album sidebar */
#albums-bar #start-ref,
#albums-bar #end-ref {
  margin-top: -10px; /* to fix the flex gaps */
}
#albums-bar .sidebar-container.album-viewed {
  height: calc(100% - 150px);
}
/* Albums view */
.albums-view {
  display: flex;
  flex-flow: column nowrap;

  position: fixed;
  bottom: 0;
  width: 550px;
  height: 120px;

  border-right: 2px solid white;
}
.albums-view .header {
  display: flex;
  justify-content: end;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: black;
}
.albums-view .header h3 {
  margin: 0 auto;
}
.albums-view .header button {
  width: 20px;
}
.albums-view .content {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  margin: 10px;
  border: 2px solid black;
  background-color: var(--ma-selected);
}
.albums-view .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--ma);
}
.albums-view .actions button {
  height: 30px;
  width: 30px;
}
.albums-view .actions .play-button,
.play-button {
  height: 50px;
  width: 50px;
}
.albums-view .details {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;

  padding: 10px;
  background-color: var(--ma);
}
.albums-view .details span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.albums-view .details .artist {
  font-size: x-large;
}
.albums-view .details .title {
  font-style: italic;
}

/* Settings sidebar */
#settings-bar {
  width: 400px;
}
#settings-bar .settings {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
/* Settings options */
.settings-select,
.settings-checkbox {
  padding: 4px;
  border: 2px solid black;
  background-color: var(--ma);
}
.settings-select label,
.settings-checkbox label {
  font-size: larger;
}
.settings-checkbox input {
  margin-right: 4px;
}
.settings-select p,
.settings-checkbox p {
  font-style: italic;
}
.settings-select div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.settings-select ul {
  margin-left: 20px;
}
.settings-select ul span {
  color: orange;
}

/* Tools sidebar */
#tools-bar {
  width: 400px;
}

/* Sidebar opener */
.sidebar-opener button {
  width: 44px;
  height: 44px;
}

/* Video player */
.video-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--ma);
  border: 2px solid black;
}
.video-container .header {
  display: flex;
}
.video-container .header h1 {
  flex: 1;
}
.video-container .header button {
  font-size: larger;
}

/* Video */
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video iframe {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video controls */
.video-controls {
  display: flex;
  flex-flow: row wrap;
  gap: 0 10px;
  background-color: var(--ma);
}
.video-controls > * {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.video-controls .actions {
  flex: 1;
  align-items: center;
  gap: 10px;
}
.video-controls .time {
  flex: 1000;
  flex-direction: column;
  gap: 4px;
  min-width: 200px;
}
.video-controls .time .details {
  display: flex;
  justify-content: space-between;
}

/* Video details */
.video-details {
  background-color: var(--ma);
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
.video-details .ico {
  margin: auto 0;
}
.video-details .ico a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  text-align: center;
}
.chip {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 90%;
}
.chip .category {
  color: orange;
}
.chip .add-date {
  color: lightgreen;
}

/* Bookmark converter */
.bookmark-converter {
  display: flex;
  flex-flow: column;
  gap: 10px;

  padding: 4px;
  border: 2px solid black;
  background-color: var(--ma);
}
p.info {
  text-align: justify;
  font-style: italic;
}
p.info .format {
  display: block;
  color: orange;
  text-transform: uppercase;
  text-align: center;
  margin: 4px;
}
.bookmark-converter form {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.bookmark-converter form label + span {
  font-size: smaller;
  font-style: italic;
}
.bookmark-converter form input {
  width: 100%;
  margin-top: 4px;
  color: black;
}
.bookmark-converter form input[type='file'] {
  cursor: pointer;

  text-align: center;
  padding: 10px;

  border: 1px dashed black;
  background-color: white;
}
.bookmark-converter form .actions {
  display: flex;
  justify-content: end;
}
.album-downloader {
  display: flex;
  justify-content: space-between;
  
  padding: 4px;
  border: 2px solid black;
  background-color: var(--ma);
}

/* Album filter: Column filter */
.filter-column-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  padding: 4px;
  border: 2px solid black;
  background-color: var(--ma);
}
.filter-column-container label {
  align-content: center;
}
.filter-column-container .filter-column {
  display: flex;
  gap: 4px;
}
.filter-column-container .filter-text {
  flex: 1;
  display: flex;
  gap: 4px;
}
.filter-column-container .filter-text input {
  width: 100%;
}
.filter-column-container .filter-interval,
.filter-column-container .filter-interval div {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}
.filter-column-container .filter-interval input {
  flex: 1;
  width: 0;
}
.filter-column-container .filter-interval .start {
  flex-basis: 22px;
}

/* Album filter: Category filter */
.filter-category-container {
  display: flex;
  flex-flow: column nowrap;

  margin-top: 10px;
  padding: 4px;
  border: 2px solid black;
  background-color: var(--ma);
}
.filter-category-container .category-display {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}
.filter-category-container .category-display .selected {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;

  overflow: hidden;
}
.filter-category-container .category-display .selected span {
  color: orange;
  word-wrap: break-word;
  font-style: italic;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-category-container .category-display .selected span::after {
  content: ";";
  color: white;
}
.filter-category-container .category-display button {
  align-self: start;
}

.filter-category-container .category-filter {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;

  max-height: 150px;
  overflow-y: auto;

  margin-top: 4px;
  border-top: 1px solid white;
}
.filter-category-container .category-filter label {
  display: flex;
  padding: 1px;
  justify-content: space-between;
}
.filter-category-container .category-filter label:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.filter-category-container .category-filter label span {
  font-style: italic;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

/* Notification */
.notification-container {
  position: fixed;
  top: 10px;
  right: 10px;

  display: flex;
  flex-flow: column-reverse;
  align-items: flex-end;
  gap: 10px;
  z-index: 9999;
}
.notification {
  max-width: 400px;
  padding: 10px;
  background-color: black;
  border: 1px solid white;
}
.notification .header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: larger;
}
.notification .header .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.notification .icon-container svg {
  display: block;
}
.notification .header button {
  background-color: transparent;
  border: none;
  font-size: larger;
  color: white;
}
.notification .header button:hover {
  color: gray;
}
.notification .message {
  font-style: italic;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 0;
  border-top: 1px solid white;
}

/* Table */
table {
  border: none;
  border-collapse: collapse;
  background-color: var(--ma);
}
table .center {
  text-align: center;
}
table thead {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
table tbody >:last-child {
  border-bottom: 2px solid black;
}
table td, table th {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 2px 4px;
}

/* Table sorting */
.sortable-icon {
  display: inline-block;
  height: 11px;
  margin-left: 4px;
  position: relative;
  width: 1px 0px;
}
.sortable-icon:before,
.sortable-icon:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  left: 0;
  position: absolute;
}
.sortable-icon:before {
  border-bottom: 4px solid dimgrey;
}
.sortable-icon:after {
  border-top: 4px solid dimgrey;
  bottom: 0;
}
.sortable-icon.asc:before {
  border-bottom: 4px solid white;
}
.sortable-icon.desc:after {
  border-top: 4px solid white;
}
table thead th.sortable {
  padding-right: 13px; /* ~ center with icon */
  cursor: pointer;
}
table thead th.sortable:hover {
  color: black;
  text-shadow: none;
  background-color: white;
}
table thead th.sortable:hover .sortable-icon:before {
  border-bottom: 4px solid lightgrey;
}
table thead th.sortable:hover .sortable-icon:after {
  border-top: 4px solid lightgrey;
}
table thead th.sortable:hover .sortable-icon.asc:before {
  border-bottom: 4px solid black;
}
table thead th.sortable:hover .sortable-icon.desc:after {
  border-top: 4px solid black;
}

/* Album table */
.album-table {
  table-layout: fixed;
  width: 100%;
}
.album-table tbody tr {
  cursor: pointer;
}
.album-table tbody .album-row:hover {
  background-color: white;
  text-shadow: none;
  color: black;
}
.album-table tbody .album-row td:first-child,
.album-table tbody .album-row td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.album-table th:first-child {
  width: 30%;
}
.album-table th:nth-child(2) {
  width: 42%;
}
.album-table th:nth-child(3) {
  width: 11%;
}
/* Viewing row */
.album-table tbody .album-row.viewing {
  background-color: var(--ma-active);
}
/* Playing row */
.album-table tbody .album-row.playing {
  background-color: var(--ma-selected);
}

/* Queue table */
.queue-table {
  table-layout: fixed;
  width: 100%;
}
.queue-table tbody .queue-row td:nth-child(2),
.queue-table tbody .queue-row td:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.queue-table th:first-child {
  width: 30px;
}
.queue-table th:nth-child(2) {
  width: 30%;
}
.queue-table th:last-child {
  width: 100px;
}
.queue-table .queue-row .actions {
  display: flex;
  gap: 4px;
}
.queue-table .queue-row .actions button {
  flex: 1;
}
